$black: rgba(0, 0, 0, 1);
$blue: rgba(59, 25, 156, 1);
$darkBlue: rgba(19, 22, 61, 1);
$grayBlue: rgba(73, 80, 174, 1);
$green: rgba(68, 198, 81, 1);
$lightBlue: rgba(143, 149, 238, 1);
$red: rgba(226, 64, 64, 1);
$white: rgba(255, 255, 255, 1);
$white60: rgba(255, 255, 255, 0.6);