* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body,
.page {
  margin: 0px;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  background: #12163c;
}

a {
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
body {
  	margin: 0; line-height: normal;
}
:root {
  	
  	/* fonts */
  	--headings: Nunito;
  	
  	/* font sizes */
  	--headings-size: 1.25rem;
  	--headingm-size: 1.5rem;
  	--subtext-size: 0.875rem;
  	
  	/* Colors */
  	--gray-blue: #4950ae;
  	--dark-blue: #13163d;
  	--white: #fff;
  	
  	/* Gaps */
  	--gap-3xs: 0.625rem;
  	
  	/* Border radiuses */
  	--br-base: 16px;
  	
}